<form action="/bobateas" method="post">

<label>Name your drink:</label>
<input type=text name="name">
<br/>

<label>Topping:</label>
<input type=text name="topping">
<br/>

<label>Drink Type:</label>
<input type=text name="drink_type">
<br/>

<label>Price:</label>
<input type=number name="price">
<br/>
<input type="submit">
</form>
