<h1> This is the index page for Bobateas</h1>

<ul>
<% @bobateas.each do |bobatea| %>  
    <a href="/bobateas/<%=bobatea.id%>" > <li> <%=bobatea.name %></li></a>
<% end %>
</ul>

<br>

<a href="/create_drink">Create a Drink</a>