<form action="/bobateas" method="post">
<label> Make a new drink</label>
<select name="bobashop_id"> 
<% @bobashops.each do |bobashop| %>
    <option value=<%= bobashop.id%> > <%= @bobashop.name%> </option>
<% end %>
</select>
<br>
<label> New Drink </label>
<input type=text name="name">
<br>
<input type="submit">
</form>
